* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#icgy{
  padding:40px 20px;
  text-align:center;
  background:#2563eb;
  color:#fff;
}
@media (max-width: 992px){
  #ifk9{
    font-family:Comic Sans MS, cursive, sans-serif;
    font-size:34px;
    background-color:#ba9509;
    border:11px solid #ed2121;
    color:#d62b2b;
  }
}
